body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 100vh;
}

.bg-image {
  background-image: url("./images/2109.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.nav-bar {
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-bar span {
  width: 100%;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  text-decoration: none;
  transition: transform 1s;
  cursor: pointer;
}

.nav-bar span:hover {
  transform: translateY(10px);
}

.Head-typo {
  width: 50%;
  margin-left: 10%;
  margin-top: 8%;
  color: #909399;
}

.Head-typo h1 {
  animation: Opacity 3s;
}

.Head-typo h3 {
  animation: Opacity 5s;
}

.Head-typo p {
  color: white;
  animation: Opacity 7s;
}

.Head-typo button {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  margin-left: 7%;
  margin-top: 2%;
  border: none;
  text-align: center;
  color: white;
  background-color: black;
  cursor: pointer;
  animation-name: Move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.About-me {
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.About-me h1 {
  margin-bottom: 1%;
  margin-top: 1%;
  color: white;
  font-size: 2rem;
  text-align: center;
}

#viewpoint {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 50%;
  margin-left:5%;
  margin-right: 10%;
}

.AboutMe-h1 {
  animation: Opacity;
  animation-duration: 2s;
}

.Header-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3%;
}

.Header-flex p {
  text-align: center;
}

.pAnimation {
  animation: Opacity 2s ;
}

#viewpoint div {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
}




#active-1 {
  width: 300px;
  animation: Opacity 2s;
}

.h {
  margin-top: 26px;
  margin-left: 3px;
}

.group-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  animation: Opacity 2s;
}


.Projects {
  width: 100%;
  height: 80vh;
  color: white;
  margin-top: 5%;
}

.Title {
  text-align: center;
}

.Projects-containter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.Project-component {
  width: 250px;
  height: 400px;
  margin-top: 3%;
}

.image-wrapper {
  width: 250px;
  height: 140.62px;
}

.image-wrapper img {
  display: block;
  width: 250px;
  height: fit-content;
  border-radius: 180px;
}

.image-wrapper span {
  display: none;
}

image-wrapper:hover span {
  display: inline;
}








/*changing the opacity for header section on reload*/
@keyframes Opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* making the button moves */
@keyframes Move {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity : 1;
    transform: translateX(30px);
  }
}