body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  width: 100%;
  height: 100vh;
}

.bg-image {
  background-image: url("./images/2109.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.nav-bar {
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-bar a {
  width: 100%;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  text-decoration: none;
  transition: transform 1s;
}

.nav-bar a:hover {
  transform: translateY(10px);
}

.Head-typo {
  width: 50%;
  margin-left: 10%;
  margin-top: 8%;
  color: #909399;
}

.Head-typo h1 {
  animation: Opacity 3s;
}

.Head-typo h3 {
  animation: Opacity 5s;
}

.Head-typo p {
  color: white;
  animation: Opacity 7s;
}

.Head-typo button {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  margin-left: 7%;
  margin-top: 2%;
  border: none;
  text-align: center;
  color: white;
  background-color: black;
  cursor: pointer;
  animation-name: Move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.About-me {
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.About-me h1 {
  margin-bottom: 3%;
  margin-top: 3%;
  color: #909399;
  font-size: 2.3rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.info {
  background-color: #191a1f;
  width: 100%;
  height: 50%;
  padding: 3%;
  border-radius: 20px;
}





/*changing the opacity for header section on reload*/
@keyframes Opacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* making the button moves */
@keyframes Move {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity : 1;
    transform: translateX(30px);
  }
}